extends partials/layout

block content
  h1 Hi! #{user.voornaam},
  h2.page-header Welkom bij Muzika 

  article.profile
    div#genre
      h3 Favoriete genre: 
      b #{user.genre}
    p
     b Jouw details
    ul
      li Naam: #{user.voornaam} 
      li Email adres: #{user.email} 
      li Gebruikersnaam: #{user.gebruikersnaam}
      li Leeftijd: #{user.leeftijd}
      h2 Profielfoto
      <img class="profile-image" src="uploads/#{user.profielfoto}">

    //- a(href="/users/delete") Profiel verwijderen
  include partials/footer








